<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.ncs_erp.dao.EmployeeMapper">
     <resultMap type="Employee" id="EmployeeResult">
     	<id property="eNo" column="eno"/>
     	<result property="eName" column="ename"/>
     	<result property="salary" column="salary"/>
     	<result property="gender" column="gender"/>
     	<result property="joinDate" column="joindate"/>
     	<association property="title"
     	 resultMap="kr.or.dgit.ncs_erp.dao.TitleMapper.TitleResult"/>
     	<association property="department"
     	 resultMap="kr.or.dgit.ncs_erp.dao.DepartmentMapper.DepartmentResult"/>
     </resultMap>
     
     <sql id="insertSql">
     	insert into employee(eno, ename, tcode, salary, gender, dcode, joindate) values
     	(#{eNo},#{eName},#{title.tCode},#{salary},#{gender},#{department.dCode},#{joinDate};
     </sql>
</mapper>