<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.dgit.ncs_erp.dao.DepartmentMapper">
     <resultMap type="Department" id="DepartmentResult">
     	<id property="dCode" column="dcode"/>
     	<result property="dName" column="dname"/>
     	<result property="floor" column="floor"/>
     </resultMap>
     
     <insert id="insertDepartment" parameterType="Department">
 			INSERT INTO department
			(dcode, dname, floor)
			VALUES(#{dCode},#{dName},#{floor});
     </insert>
</mapper>
